parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    requestconnect.email: admin@example.com
    requestconnect.from_name: Zuul Bot
    requestconnect.from_email: zuul@example.com
    
    zuul.pubkey: /path/to/the/masterkey/id_rsa.pub    
    zuul.privkey: /path/to/the/masterkey/id_rsa
    zuul.key_type: ssh-rsa    
    zuul.key_name: ''    