
{% macro filter_input(target) %}
<div class="pull-right overtop">
    <div class="input-group ">
        <span class="input-group-addon">#</span>
        <input class="filter-input form-control" placeholder="Filter" data-target="{{target}}">
    </div>
 </div>
{% endmacro %}